// Text
body {
  color: $white !important;
}

.grid-item {
  .titles-link {
    color: $white !important;
  }
}

#info-wrapper {
  .info {
    [data-readmore-toggle] {
      display: unset !important;
    }
  }
}
